## import needed libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import datetime as dt
import matplotlib.pyplot as plt

## Aquire data

In [2]:
#import csv's generated via F1 scrapping.ipynb
df_1 = pd.read_csv('2018_2021.csv')
df_2 = pd.read_csv('2014_2017.csv')
df_3 = pd.read_csv('2010_2013.csv')
df_1.columns

Index(['Unnamed: 0', 'Race_result_Pos', 'Race_result_No', 'Driver',
       'Race_result_Car', 'Race_result_Laps', 'Race_result_Time/Retired',
       'Race_result_PTS', 'Fastest_laps_Pos', 'Fastest_laps_No',
       'Fastest_laps_Car', 'Fastest_laps_Lap', 'Fastest_laps_Time_of_day',
       'Fastest_laps_Time', 'Fastest_laps_Avg_Speed', 'Pit_stop_summary_Stops',
       'Pit_stop_summary_No', 'Pit_stop_summary_Car', 'Pit_stop_summary_Lap',
       'Pit_stop_summary_Time_of_day', 'Pit_stop_summary_Time',
       'Pit_stop_summary_Total', 'Starting_grid_Pos', 'Starting_grid_No',
       'Starting_grid_Car', 'Starting_grid_Time', 'Qualifying_Pos',
       'Qualifying_No', 'Qualifying_Car', 'Qualifying_Q1', 'Qualifying_Q2',
       'Qualifying_Q3', 'Qualifying_Laps', 'Practice_3_Pos', 'Practice_3_No',
       'Practice_3_Car', 'Practice_3_Time', 'Practice_3_Gap',
       'Practice_3_Laps', 'Practice_2_Pos', 'Practice_2_No', 'Practice_2_Car',
       'Practice_2_Time', 'Practice_2_Gap', 'Practice_2_Laps',
       'Practice_1_Pos', 'Practice_1_No', 'Practice_1_Car', 'Practice_1_Time',
       'Practice_1_Gap', 'Practice_1_Laps', 'location', 'year'],
      dtype='object')

In [3]:
# combine all dfs in 1 master df
df = pd.concat([df_1,df_2,df_3],ignore_index = True)

## Basic Information about Dataset

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9413 entries, 0 to 9412
Data columns (total 55 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    9413 non-null   int64
 1   Race_result_Pos               9129 non-null   object
 2   Race_result_No                9129 non-null   float64
 3   Driver                        9413 non-null   object
 4   Race_result_Car               9129 non-null   object
 5   Race_result_Laps              9119 non-null   float64
 6   Race_result_Time/Retired      9129 non-null   object
 7   Race_result_PTS               9129 non-null   float64
 8   Fastest_laps_Pos              8939 non-null   float64
 9   Fastest_laps_No               8939 non-null   float64
 10  Fastest_laps_Car              8939 non-null   object
 11  Fastest_laps_Lap              8939 non-null   float64
 12  Fastest_laps_Time_of_day      5262 non-null   object
 13  Fastest_laps_Time             8939 non-null   object
 14  Fastest_laps_Avg_Speed        8939 non-null   float64
 15  Pit_stop_summary_Stops        8763 non-null   float64
 16  Pit_stop_summary_No           8783 non-null   float64
 17  Pit_stop_summary_Car          8783 non-null   object
 18  Pit_stop_summary_Lap          8783 non-null   float64
 19  Pit_stop_summary_Time_of_day  8783 non-null   object
 20  Pit_stop_summary_Time         8783 non-null   object
 21  Pit_stop_summary_Total        8763 non-null   object
 22  Starting_grid_Pos             9048 non-null   float64
 23  Starting_grid_No              9048 non-null   float64
 24  Starting_grid_Car             9048 non-null   object
 25  Starting_grid_Time            8677 non-null   object
 26  Qualifying_Pos                9101 non-null   object
 27  Qualifying_No                 9101 non-null   float64
 28  Qualifying_Car                9101 non-null   object
 29  Qualifying_Q1                 9095 non-null   object
 30  Qualifying_Q2                 6629 non-null   object
 31  Qualifying_Q3                 4184 non-null   object
 32  Qualifying_Laps               9101 non-null   float64
 33  Practice_3_Pos                9132 non-null   float64
 34  Practice_3_No                 9132 non-null   float64
 35  Practice_3_Car                9132 non-null   object
 36  Practice_3_Time               8937 non-null   object
 37  Practice_3_Gap                8506 non-null   object
 38  Practice_3_Laps               9132 non-null   float64
 39  Practice_2_Pos                9037 non-null   float64
 40  Practice_2_No                 9037 non-null   float64
 41  Practice_2_Car                9037 non-null   object
 42  Practice_2_Time               8941 non-null   object
 43  Practice_2_Gap                8516 non-null   object
 44  Practice_2_Laps               9037 non-null   float64
 45  Practice_1_Pos                8843 non-null   float64
 46  Practice_1_No                 8843 non-null   float64
 47  Practice_1_Car                8843 non-null   object
 48  Practice_1_Time               8646 non-null   object
 49  Practice_1_Gap                8213 non-null   object
 50  Practice_1_Laps               8843 non-null   float64
 51  location                      9413 non-null   object
 52  year                          9413 non-null   int64
 53  Pit_stop_summary_Pos          20 non-null     float64
 54  Pit_stop_summary_Avg_Speed    20 non-null     float64
dtypes: float64(25), int64(2), object(28)
memory usage: 3.9+ MB

In [5]:
df.shape

(9413, 55)

In [6]:
df.columns

Index(['Unnamed: 0', 'Race_result_Pos', 'Race_result_No', 'Driver',
       'Race_result_Car', 'Race_result_Laps', 'Race_result_Time/Retired',
       'Race_result_PTS', 'Fastest_laps_Pos', 'Fastest_laps_No',
       'Fastest_laps_Car', 'Fastest_laps_Lap', 'Fastest_laps_Time_of_day',
       'Fastest_laps_Time', 'Fastest_laps_Avg_Speed', 'Pit_stop_summary_Stops',
       'Pit_stop_summary_No', 'Pit_stop_summary_Car', 'Pit_stop_summary_Lap',
       'Pit_stop_summary_Time_of_day', 'Pit_stop_summary_Time',
       'Pit_stop_summary_Total', 'Starting_grid_Pos', 'Starting_grid_No',
       'Starting_grid_Car', 'Starting_grid_Time', 'Qualifying_Pos',
       'Qualifying_No', 'Qualifying_Car', 'Qualifying_Q1', 'Qualifying_Q2',
       'Qualifying_Q3', 'Qualifying_Laps', 'Practice_3_Pos', 'Practice_3_No',
       'Practice_3_Car', 'Practice_3_Time', 'Practice_3_Gap',
       'Practice_3_Laps', 'Practice_2_Pos', 'Practice_2_No', 'Practice_2_Car',
       'Practice_2_Time', 'Practice_2_Gap', 'Practice_2_Laps',
       'Practice_1_Pos', 'Practice_1_No', 'Practice_1_Car', 'Practice_1_Time',
       'Practice_1_Gap', 'Practice_1_Laps', 'location', 'year',
       'Pit_stop_summary_Pos', 'Pit_stop_summary_Avg_Speed'],
      dtype='object')

In [7]:
df.head()

,Unnamed: 0,Race_result_Pos,Race_result_No,Driver,Race_result_Car,Race_result_Laps,Race_result_Time/Retired,Race_result_PTS,Fastest_laps_Pos,Fastest_laps_No,...,Practice_1_Pos,Practice_1_No,Practice_1_Car,Practice_1_Time,Practice_1_Gap,Practice_1_Laps,location,year,Pit_stop_summary_Pos,Pit_stop_summary_Avg_Speed
0,0,1,44.0,Lewis Hamilton HAM,Mercedes,56.0,1:32:03.897,25.0,4.0,44.0,...,4.0,44.0,Mercedes,1:31.921,+0.527s,15.0,Bahrain,2021,NaN,NaN
1,1,1,44.0,Lewis Hamilton HAM,Mercedes,56.0,1:32:03.897,25.0,4.0,44.0,...,4.0,44.0,Mercedes,1:31.921,+0.527s,15.0,Bahrain,2021,NaN,NaN
2,2,2,33.0,Max Verstappen VER,Red Bull Racing Honda,56.0,+0.745s,18.0,2.0,33.0,...,1.0,33.0,Red Bull Racing Honda,1:31.394,NaN,12.0,Bahrain,2021,NaN,NaN
3,3,2,33.0,Max Verstappen VER,Red Bull Racing Honda,56.0,+0.745s,18.0,2.0,33.0,...,1.0,33.0,Red Bull Racing Honda,1:31.394,NaN,12.0,Bahrain,2021,NaN,NaN
4,4,3,77.0,Valtteri Bottas BOT,Mercedes,56.0,+37.383s,16.0,1.0,77.0,...,2.0,77.0,Mercedes,1:31.692,+0.298s,17.0,Bahrain,2021,NaN,NaN

##  Data Cleaning

In [8]:
#drop time of day data, not looking to incorporate time series
df.drop(columns =['Fastest_laps_Time_of_day','Pit_stop_summary_Time_of_day','Race_result_Time/Retired'], inplace=True)

In [10]:
#these are duplicate columns from merging different tables with overlapping data
#Pit_stop_summary_Lap, Pit_stop_summary_Time removed because they cause duplicate data, focus on total time and # pit stops
#remove Race_Results_Pos because it is competing target with Race_result_PTS 
df.drop(columns = ['Unnamed: 0','Fastest_laps_Car','Race_result_Pos','Fastest_laps_No','Pit_stop_summary_Car','Pit_stop_summary_No','Starting_grid_No',
           'Starting_grid_Car','Qualifying_No','Qualifying_Car','Practice_3_No','Practice_3_Car','Practice_2_No',
           'Practice_2_Car', 'Practice_1_No', 'Practice_1_Car','Pit_stop_summary_Lap','Pit_stop_summary_Time','Race_result_No'] , inplace=True)
#practice gap data incorporated in practice times, drop:
df.drop(columns =  ['Practice_3_Gap','Practice_2_Gap','Practice_1_Gap'] , inplace=True)

In [11]:
df.shape

(9413, 30)

In [12]:
#check nulls and data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9413 entries, 0 to 9412
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Driver                      9413 non-null   object
 1   Race_result_Car             9129 non-null   object
 2   Race_result_Laps            9119 non-null   float64
 3   Race_result_PTS             9129 non-null   float64
 4   Fastest_laps_Pos            8939 non-null   float64
 5   Fastest_laps_Lap            8939 non-null   float64
 6   Fastest_laps_Time           8939 non-null   object
 7   Fastest_laps_Avg_Speed      8939 non-null   float64
 8   Pit_stop_summary_Stops      8763 non-null   float64
 9   Pit_stop_summary_Total      8763 non-null   object
 10  Starting_grid_Pos           9048 non-null   float64
 11  Starting_grid_Time          8677 non-null   object
 12  Qualifying_Pos              9101 non-null   object
 13  Qualifying_Q1               9095 non-null   object
 14  Qualifying_Q2               6629 non-null   object
 15  Qualifying_Q3               4184 non-null   object
 16  Qualifying_Laps             9101 non-null   float64
 17  Practice_3_Pos              9132 non-null   float64
 18  Practice_3_Time             8937 non-null   object
 19  Practice_3_Laps             9132 non-null   float64
 20  Practice_2_Pos              9037 non-null   float64
 21  Practice_2_Time             8941 non-null   object
 22  Practice_2_Laps             9037 non-null   float64
 23  Practice_1_Pos              8843 non-null   float64
 24  Practice_1_Time             8646 non-null   object
 25  Practice_1_Laps             8843 non-null   float64
 26  location                    9413 non-null   object
 27  year                        9413 non-null   int64
 28  Pit_stop_summary_Pos        20 non-null     float64
 29  Pit_stop_summary_Avg_Speed  20 non-null     float64
dtypes: float64(16), int64(1), object(13)
memory usage: 2.2+ MB

In [14]:
#replace DQ (disqualified), NC (non-competitive), and EX (??) with Nulls
#remove nulls from qualifying Pos
df['Qualifying_Pos'].replace({'DQ': None,'EX': None,'NC':None, 'RT':None,np.nan:None}, inplace=True)
df.dropna(axis=0, subset=['Race_result_PTS','Qualifying_Pos'], inplace = True)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8953 entries, 0 to 9411
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Driver                      8953 non-null   object
 1   Race_result_Car             8953 non-null   object
 2   Race_result_Laps            8943 non-null   float64
 3   Race_result_PTS             8953 non-null   float64
 4   Fastest_laps_Pos            8766 non-null   float64
 5   Fastest_laps_Lap            8766 non-null   float64
 6   Fastest_laps_Time           8766 non-null   object
 7   Fastest_laps_Avg_Speed      8766 non-null   float64
 8   Pit_stop_summary_Stops      8594 non-null   float64
 9   Pit_stop_summary_Total      8594 non-null   object
 10  Starting_grid_Pos           8901 non-null   float64
 11  Starting_grid_Time          8646 non-null   object
 12  Qualifying_Pos              8953 non-null   object
 13  Qualifying_Q1               8951 non-null   object
 14  Qualifying_Q2               6610 non-null   object
 15  Qualifying_Q3               4168 non-null   object
 16  Qualifying_Laps             8953 non-null   float64
 17  Practice_3_Pos              8947 non-null   float64
 18  Practice_3_Time             8762 non-null   object
 19  Practice_3_Laps             8947 non-null   float64
 20  Practice_2_Pos              8850 non-null   float64
 21  Practice_2_Time             8761 non-null   object
 22  Practice_2_Laps             8850 non-null   float64
 23  Practice_1_Pos              8399 non-null   float64
 24  Practice_1_Time             8227 non-null   object
 25  Practice_1_Laps             8399 non-null   float64
 26  location                    8953 non-null   object
 27  year                        8953 non-null   int64
 28  Pit_stop_summary_Pos        20 non-null     float64
 29  Pit_stop_summary_Avg_Speed  20 non-null     float64
dtypes: float64(16), int64(1), object(13)
memory usage: 2.1+ MB

### More Data Cleanup

In [16]:


#convert Qualifying Pos to a number
df["Qualifying_Pos"] = df["Qualifying_Pos"].apply(pd.to_numeric)
#function will convert datetime to total seconds
#    lap times better treated as floats for agg
def get_seconds(time):
    '''
    Convert columns in %Y-%m-%d %H:%M:%S.%f
    format to total amount of seconds. 
    Input is single timeseries data point.
    '''
    a_timedelta = time - dt.datetime(1900, 1, 1)
    return a_timedelta.total_seconds()

#lap time data comes in strings with different formats: %M:%S.%f and %S.%f
#convert strings to datetimes and then calc total seconds for lap times 
time_series_list = ['Fastest_laps_Time','Pit_stop_summary_Total','Starting_grid_Time',
                    'Qualifying_Q1','Qualifying_Q2','Qualifying_Q3','Practice_3_Time','Practice_2_Time','Practice_1_Time']

for col in time_series_list:
    df[col] = pd.to_datetime(df[col], format='%M:%S.%f',errors="coerce").fillna(pd.to_datetime(df[col],format='%S.%f', errors="coerce"))
    df[col] = df[col].apply(get_seconds)

In [17]:
#check time transfromations
df[time_series_list]

,Fastest_laps_Time,Pit_stop_summary_Total,Starting_grid_Time,Qualifying_Q1,Qualifying_Q2,Qualifying_Q3,Practice_3_Time,Practice_2_Time,Practice_1_Time
0,94.015,24.839,89.385,90.617,90.085,89.385,91.316,91.082,91.921
1,94.015,48.915,89.385,90.617,90.085,89.385,91.316,91.082,91.921
2,93.228,24.767,88.997,90.499,90.318,88.997,90.577,90.847,91.394
3,93.228,48.615,88.997,90.499,90.318,88.997,90.577,90.847,91.394
4,92.090,24.262,89.586,91.200,90.186,89.586,91.855,91.218,91.692
...,...,...,...,...,...,...,...,...,...
9407,106.646,31.988,105.296,105.296,NaN,NaN,106.464,107.210,110.274
9408,105.979,37.147,103.516,103.516,NaN,NaN,105.048,105.612,108.472
9409,106.837,20.930,104.095,104.095,NaN,NaN,105.050,105.259,108.450
9410,NaN,NaN,100.516,101.222,100.452,100.516,101.690,102.246,104.199
9411,NaN,NaN,101.642,101.681,101.642,NaN,102.858,102.203,105.585

In [18]:
#there are many duplicate rows for same race/driver with differet pitstop data
df['test'] = df.groupby(['year','location','Driver'],as_index=False)['Pit_stop_summary_Stops'].transform(max)

In [19]:
df['test']

0       2.0
1       2.0
2       2.0
3       2.0
4       3.0
       ...
9407    1.0
9408    1.0
9409    1.0
9410    NaN
9411    NaN
Name: test, Length: 8953, dtype: float64

In [20]:
#narrow it down to total number of pit stops and total pitstop time
df = df[df['Pit_stop_summary_Stops'] == df['test']].copy()
df.drop(columns = 'test', inplace=True)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4300 entries, 1 to 9409
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Driver                      4300 non-null   object
 1   Race_result_Car             4300 non-null   object
 2   Race_result_Laps            4300 non-null   float64
 3   Race_result_PTS             4300 non-null   float64
 4   Fastest_laps_Pos            4291 non-null   float64
 5   Fastest_laps_Lap            4291 non-null   float64
 6   Fastest_laps_Time           4291 non-null   float64
 7   Fastest_laps_Avg_Speed      4291 non-null   float64
 8   Pit_stop_summary_Stops      4300 non-null   float64
 9   Pit_stop_summary_Total      4300 non-null   float64
 10  Starting_grid_Pos           4275 non-null   float64
 11  Starting_grid_Time          4159 non-null   float64
 12  Qualifying_Pos              4300 non-null   int64
 13  Qualifying_Q1               4296 non-null   float64
 14  Qualifying_Q2               3176 non-null   float64
 15  Qualifying_Q3               2001 non-null   float64
 16  Qualifying_Laps             4300 non-null   float64
 17  Practice_3_Pos              4297 non-null   float64
 18  Practice_3_Time             4199 non-null   float64
 19  Practice_3_Laps             4297 non-null   float64
 20  Practice_2_Pos              4250 non-null   float64
 21  Practice_2_Time             4208 non-null   float64
 22  Practice_2_Laps             4250 non-null   float64
 23  Practice_1_Pos              4047 non-null   float64
 24  Practice_1_Time             3966 non-null   float64
 25  Practice_1_Laps             4047 non-null   float64
 26  location                    4300 non-null   object
 27  year                        4300 non-null   int64
 28  Pit_stop_summary_Pos        0 non-null      float64
 29  Pit_stop_summary_Avg_Speed  0 non-null      float64
dtypes: float64(25), int64(2), object(3)
memory usage: 1.0+ MB

In [22]:
#if no Q2 or Q3 data, fill in assuming same time performance as Q1 or Q2
#some drivers only choose 1 or 2 qualifying times if they get the starting pos they are happy with
#     or if work needs to be done on the car, etc. 
df['Qualifying_Q2'].fillna(df['Qualifying_Q1'], inplace=True)
df['Qualifying_Q3'].fillna(df['Qualifying_Q2'], inplace=True)

In [23]:
#drop remaining nulls
df.drop(columns =['Pit_stop_summary_Pos', 'Pit_stop_summary_Avg_Speed'] , inplace=True)

In [24]:
df.dropna(inplace=True)

## Check The Dataset After Cleaning

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3662 entries, 1 to 9409
Data columns (total 28 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Driver                  3662 non-null   object
 1   Race_result_Car         3662 non-null   object
 2   Race_result_Laps        3662 non-null   float64
 3   Race_result_PTS         3662 non-null   float64
 4   Fastest_laps_Pos        3662 non-null   float64
 5   Fastest_laps_Lap        3662 non-null   float64
 6   Fastest_laps_Time       3662 non-null   float64
 7   Fastest_laps_Avg_Speed  3662 non-null   float64
 8   Pit_stop_summary_Stops  3662 non-null   float64
 9   Pit_stop_summary_Total  3662 non-null   float64
 10  Starting_grid_Pos       3662 non-null   float64
 11  Starting_grid_Time      3662 non-null   float64
 12  Qualifying_Pos          3662 non-null   int64
 13  Qualifying_Q1           3662 non-null   float64
 14  Qualifying_Q2           3662 non-null   float64
 15  Qualifying_Q3           3662 non-null   float64
 16  Qualifying_Laps         3662 non-null   float64
 17  Practice_3_Pos          3662 non-null   float64
 18  Practice_3_Time         3662 non-null   float64
 19  Practice_3_Laps         3662 non-null   float64
 20  Practice_2_Pos          3662 non-null   float64
 21  Practice_2_Time         3662 non-null   float64
 22  Practice_2_Laps         3662 non-null   float64
 23  Practice_1_Pos          3662 non-null   float64
 24  Practice_1_Time         3662 non-null   float64
 25  Practice_1_Laps         3662 non-null   float64
 26  location                3662 non-null   object
 27  year                    3662 non-null   int64
dtypes: float64(23), int64(2), object(3)
memory usage: 829.7+ KB

In [26]:
df.columns

Index(['Driver', 'Race_result_Car', 'Race_result_Laps', 'Race_result_PTS',
       'Fastest_laps_Pos', 'Fastest_laps_Lap', 'Fastest_laps_Time',
       'Fastest_laps_Avg_Speed', 'Pit_stop_summary_Stops',
       'Pit_stop_summary_Total', 'Starting_grid_Pos', 'Starting_grid_Time',
       'Qualifying_Pos', 'Qualifying_Q1', 'Qualifying_Q2', 'Qualifying_Q3',
       'Qualifying_Laps', 'Practice_3_Pos', 'Practice_3_Time',
       'Practice_3_Laps', 'Practice_2_Pos', 'Practice_2_Time',
       'Practice_2_Laps', 'Practice_1_Pos', 'Practice_1_Time',
       'Practice_1_Laps', 'location', 'year'],
      dtype='object')

In [27]:
df.head()

,Driver,Race_result_Car,Race_result_Laps,Race_result_PTS,Fastest_laps_Pos,Fastest_laps_Lap,Fastest_laps_Time,Fastest_laps_Avg_Speed,Pit_stop_summary_Stops,Pit_stop_summary_Total,...,Practice_3_Time,Practice_3_Laps,Practice_2_Pos,Practice_2_Time,Practice_2_Laps,Practice_1_Pos,Practice_1_Time,Practice_1_Laps,location,year
1,Lewis Hamilton HAM,Mercedes,56.0,25.0,4.0,44.0,94.015,207.235,2.0,48.915,...,91.316,14.0,3.0,91.082,24.0,4.0,91.921,15.0,Bahrain,2021
3,Max Verstappen VER,Red Bull Racing Honda,56.0,18.0,2.0,41.0,93.228,208.984,2.0,48.615,...,90.577,11.0,1.0,90.847,23.0,1.0,91.394,12.0,Bahrain,2021
6,Valtteri Bottas BOT,Mercedes,56.0,16.0,1.0,56.0,92.090,211.566,3.0,81.725,...,91.855,16.0,5.0,91.218,23.0,2.0,91.692,17.0,Bahrain,2021
8,Lando Norris NOR,McLaren Mercedes,56.0,12.0,6.0,38.0,94.396,206.398,2.0,50.539,...,92.860,10.0,2.0,90.942,25.0,3.0,91.897,20.0,Bahrain,2021
11,Sergio Perez PER,Red Bull Racing Honda,56.0,10.0,3.0,44.0,93.970,207.334,3.0,72.289,...,91.908,11.0,10.0,91.503,23.0,6.0,92.071,15.0,Bahrain,2021

- Save the Dataset for Future Use :

In [28]:
df.to_csv('CleanData.csv')